<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cash_account.name %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @cash_account.bank.name %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @cash_account.agencia %>
</p>

<p>
  <strong>Conta corrente:</strong>
  <%= @cash_account.conta_corrente %>
</p>

<%= link_to 'Edit', edit_cash_account_path(@cash_account) %> |
<%= link_to 'Back', cash_accounts_path %>
