<p id="notice"><%= notice %></p>

<p>
  <strong>Vtr:</strong>
  <%= @driver.vtr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @driver.valor %>
</p>

<div class="form-group">
	<%= link_to 'Edit', edit_driver_path(@driver), class: "btn btn-primary"  %> 
	<%= link_to 'Back', drivers_path, class: "btn btn-default"  %>
</div>
