<div class="panel panel-default">
  <div class="panel-heading">Listagem de Contas a Pagar</div>
  <div class="panel-body">
    <%= link_to 'Novo Pagamento', new_account_payable_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Supplier</th>
            <th>Cost center</th>
            <th>Payment method</th>
            <th>Documento</th>
            <th>Data vencimento</th>
            <th>Valor</th>
            <th>Observacao</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @account_payables.each do |account_payable| %>
            <tr>
              <td><%= account_payable.supplier_id %></td>
              <td><%= account_payable.cost_center_id %></td>
              <td><%= account_payable.payment_method %></td>
              <td><%= account_payable.documento %></td>
              <td><%= account_payable.data_vencimento %></td>
              <td><%= account_payable.valor %></td>
              <td><%= account_payable.observacao %></td>
              <td><%= link_to 'Show', account_payable %></td>
              <td><%= link_to 'Edit', edit_account_payable_path(account_payable) %></td>
              <td><%= link_to 'Destroy', account_payable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


