<p id="notice"><%= notice %></p>

<p>
  <strong>Type account:</strong>
  <%= @account_payable.type_account %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @account_payable.supplier_id %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @account_payable.cost_center_id %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @account_payable.payment_method %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @account_payable.documento %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @account_payable.data_vencimento %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @account_payable.valor %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @account_payable.observacao %>
</p>

<%= link_to 'Edit', edit_account_payable_path(@account_payable) %> |
<%= link_to 'Back', account_payables_path %>
