        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top shadow">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navabar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- script to remove internal banner when user is logged in and in the root_path -->
                    <%= link_to "Servos Taxi", root_path, class: "navbar-brand" %>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <% if signed_in?(:user) %>
                    <ul class="nav navbar-nav ">
                      <%= nav_link "Motoristas", drivers_path %></li>
                      <%= nav_link "Contas Bancarias", cash_accounts_path %></li>
                      <%= nav_link "Centro de Custo", cost_centers_path %></li>
                      <%= nav_link "Forma de Pagto", payment_methods_path %></li>
                      <%= nav_link "Contas a Receber", account_receivables_path %></li>
                      <%= nav_link "Conta Corrente", current_accounts_path %></li>
                    </ul>
                    <% end %>                    
                    <ul class="nav navbar-nav navbar-right">
                      <% if signed_in?(:user) %>
                        <li><%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, method: "delete" %></li>
                      <% else %>                  
                        <li><%= link_to '<i class="fa fa-sign-in"></i> Login'.html_safe, new_user_session_path %></li>
                      <% end %>                    
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </nav>
        <!-- /.fixed navbar -->
